<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/admin/hotel.css}">

    <!-- 추가적으로 필요한 CSS나 스타일시트를 로드할 수 있습니다. -->
</head>
<body>
<!-- 이 부분은 layout.html에서 정의한 컨텐츠 영역에 삽입됩니다. -->
<section layout:fragment="content">
    <h1>호텔 추가</h1>
    <section>
<!--        <form method="post" id="hotelForm" action="./hotel" enctype="multipart/form-data">-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text">호텔  : </span>-->
<!--                <input name="name" type="text" value="멋진 호텔 3">-->
<!--            </label>-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text">등급  : </span>-->
<!--                <input type="text" name="grade" value="5">-->
<!--            </label>-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text">지역  : </span>-->
<!--                <input type="text" id="name" name="region" value="대구">-->
<!--            </label>-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text">주소1  : </span>-->
<!--                <input name="street1" type="text" value="팔공로">-->
<!--            </label>-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text">주소2  : </span>-->
<!--                <input name="street2" type="text" value="팔공산">-->
<!--            </label>-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text">우편번호  : </span>-->
<!--                <input name="zipCode" type="text" value="12456">-->
<!--            </label>-->
<!--            <label class="_obj-label label">-->
<!--                <span class="__text"> 섬네일</span>-->
<!--                <input name="_thumbnail" type="file" >-->
<!--            </label>-->
<!--            <button class="_obj-button" type="reset">리셋</button>-->
<!--            <button class="_obj-button" type="submit">제출</button>-->
<!--        </form>-->

        <form class="row g-3" method="post"  action="./hotel" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="hotelName" class="form-label">호텔 이름</label>
                <input name="name" type="text" class="form-control" id="hotelName">
            </div>
            <div class="col-md-4">
                <label for="hotelGrade" class="form-label">호텔 등급</label>
                <select name="grade" id="hotelGrade" class="form-select">
                    <option selected>1 </option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="hotelIntro" class="form-label">호텔 소개</label>
                <textarea name="intro" class="form-control" id="hotelIntro" rows="3"></textarea>
            </div>
            <div class="col-md-4">
                <label for="hotelRegion" class="form-label">지역</label>
                <select name="region" id="hotelRegion" class="form-select">
                    <option selected>서울</option>
                    <option>광주</option>
                    <option>대구</option>
                    <option>경기</option>
                    <option>경북</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="hotelAddress1" class="form-label">주소</label>
                <input name="street1" type="password" class="form-control" id="hotelAddress1">
            </div>
            <div class="col-12">
                <label for="hotelAddress2" class="form-label">상세 주소</label>
                <input name="street2" type="text" class="form-control" id="hotelAddress2" placeholder="1234 Main St">
            </div>

            <div class="col-md-2">
                <label for="hotelZipCode" class="form-label">Zip</label>
                <input name="zipCode" type="text" class="form-control" id="hotelZipCode">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">제출</button>
            </div>
        </form>

    </section>
    <!-- 추가적인 메인 페이지의 컨텐츠를 여기에 추가할 수 있습니다. -->
</section>
</body>
</html>
