<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/layouts/layout.css}">
    <script src="https://kit.fontawesome.com/4605a6ca86.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/layouts/layout.js}" defer></script>
    <script th:src="@{/js/layouts/layout.userModal.js}" defer></script>
    <script sec:authorize="authenticated" th:src="@{/js/layouts/layout.logout.js}" defer></script>

    <!-- 추가적으로 필요한 CSS나 스타일시트를 로드할 수 있습니다. -->
</head>
<body>
<!-- 헤더를 포함하려면 layout:fragment="header"를 사용할 수 있습니다. -->
<div id="cover"></div>
<section class="modal-container" id="userModal">
    <div data-user-index="1">
        <form novalidate id="loginForm">
            <h2 class="title">로그인</h2>
            <label class="_obj-label label" rel="emailLabel">
                <span class="__text">이메일</span>
                <input required autocomplete="email" class="_obj-input __field input" maxlength="50" minlength="5"
                       name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email">
            </label>
            <label class="_obj-label label" rel="passwordLabel">
                <span class="__text">비밀번호</span>
                <input required autocomplete="current-password" class="_obj-input __field input" maxlength="50"
                       minlength="4" name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)"
                       type="password">
            </label>
            <label class="_obj-check-label label">
                <input hidden class="__input" type="checkbox">
                <span class="__checkbox"></span>
                <span class="__text">이메일을 기억합니다.</span>
            </label>
            <button class="_obj-button" type="submit">
                <i class="__icon"></i>
                <span class="__text">로그인</span>
            </button>
            <button class="_obj-button umBtn" rel="cancelButton" type="button">
                <i class="__icon"></i>
                <span class="__text">취소하기</span>
            </button>
            <ul class="menu">
                <li class="item">
                    <span class="text">아직 계정이 없으신가요?</span>
                    <a class="link" href="#" rel="showRegisterCaller">회원가입</a>
                </li>
                <li class="item">
                    <span class="text">계정 정보를 분실하셨나요?</span>
                    <a class="link" href="#" rel="showRecoverCaller">계정 찾기</a>
                </li>
            </ul>

        </form>
    </div>

    <div data-user-index="2">
        <form novalidate id="registerForm">
            <h2 class="title">회원가입</h2>
            <input hidden name="emailSalt" type="hidden">
            <label class="_obj-label label" rel="emailLabel">
                <span class="__text">이메일</span>
                <span class="horizontal">
                    <input required autocomplete="email" class="_obj-input __field input spring" maxlength="50" minlength="5"
                   name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email">
                    <button class="_obj-button" name="emailSend" type="button">인증번호 전송</button>
                </span>
                <span class="horizontal">
                    <input disabled required autocomplete="one-time-code" class="_obj-input __field input spring" maxlength="6"
                   minlength="6" name="emailCode" placeholder="인증번호 (숫자 여섯 자리)" spellcheck="false" type="text">
                    <button disabled class="_obj-button" name="emailVerify" type="button">인증번호 확인</button>
                </span>
                <span class="__warning">올바른 이메일을 입력해 주세요.</span>
            </label>
            <label class="_obj-label label" rel="passwordLabel">
                <span class="__text">비밀번호</span>
                <input required autocomplete="new-password" class="_obj-input __field input" maxlength="50"
                       minlength="5" name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)"
                       type="password">
                <input required autocomplete="new-password" class="_obj-input __field input" maxlength="50"
                       minlength="5" name="passwordCheck" placeholder="비밀번호를 한 번 더 입력해 주세요." type="password">
                <span class="__warning">올바른 비밀번호를 입력해 주세요.</span>
            </label>
            <label class="_obj-label label" rel="nicknameLabel">
                <span class="__text">닉네임</span>
                <input required autocomplete="off" class="_obj-input __field input" maxlength="10" minlength="2"
                       name="nickname" placeholder="닉네임 (숫자, 영어 대소문자, 완성 환글 2자 이상 10자 이하)" type="text">
                <span class="__warning">올바른 닉네임을 입력해 주세요.</span>
            </label>
            <label class="_obj-label label" rel="phoneLabel">
                <span class="__text">연락처</span>
                <span class="_horizontal">
                <select required class="_object-select" name="telCompany">
                    <option disabled hidden selected value="-1">통신사</option>
                    <option value="KT">KT</option>
                    <option value="LGU">LGU+</option>
                    <option value="SKT">SKT</option>
                    <option value="ETC">기타</option>
                </select>
                <select required class="_object-select" name="infoTelFirst">
                    <option selected value="010">010</option>
                </select>
                <input required autocomplete="off" class="_obj-input __field input" maxlength="4" minlength="3" name="infoTelSecond" placeholder="0000" spellcheck="false" type="tel">
                <input required autocomplete="off" class="_obj-input __field input" maxlength="4" minlength="3" name="infoTelThird" placeholder="0000" spellcheck="false" type="tel">
            </span>
            </label>
            <label class="_obj-check-label label">
                <input hidden class="__input" name="agree" type="checkbox">
                <span class="__checkbox"></span>
                <span class="__text">
                    <a th:href="@{/assets/htmls/term-policy.html}" target="_blank">서비스 이용약관</a> 및 <a
                        th:href="@{/assets/htmls/term-privacy.html}" target="_blank">개인정보 처리방침</a>을 읽어보았으며 이해하였고 동의합니다.
                </span>
            </label>
            <button class="_obj-button" type="submit">
                <i class="__icon"></i>
                <span class="__text">회원가입</span>
            </button>
            <button class="_obj-button umBtn" rel="cancelButton" type="button">
                <i class="__icon"></i>
                <span class="__text">취소하기</span>
            </button>
        </form>
    </div>
</section>
<header id="header">
    <section class="section">
        <h1><a href="/">Rocco</a></h1>
        <div class="spring"></div>
        <ul class="menu">
            <li class="item">
                <a class="link" href="#" rel="showMyHomeCaller">
                    <i class="icon fa-solid fa-house"></i>
                    <span class="text">내 정보</span>
                </a>
            </li>
            <li sec:authorize="not authenticated" class="item">
                <a class="link" href="#" rel="showLoginCaller">
                    <i class="icon fa-solid fa-arrow-right-to-bracket"></i>
                    <span class="text">로그인</span>
                </a>
            </li>
            <li sec:authorize="not authenticated" class="item">
                <a class="register link" href="#" rel="showRegisterCaller">
                    <i class="icon fa-solid fa-arrow-right-to-bracket"></i>
                    <span class="text">가입하기</span>
                </a>
            </li>

            <li sec:authorize="authenticated" class="item">
                <a class="link" href="#" id="logout">
                    <i class="icon fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="text">로그아웃</span>
                </a>
            </li>
        </ul>
    </section>
</header>
<!-- 컨텐츠를 표시하는 곳입니다. -->
<main id="main">
    <!-- 컨텐츠의 실제 내용은 각 페이지에서 제공됩니다. -->
    <section class="section" layout:fragment="content"></section>
</main>

<!-- 푸터를 포함하려면 layout:fragment="footer"를 사용할 수 있습니다. -->
<footer id="footer">
    <section class="section">
        <p>Footer</p>
    </section>
</footer>

<!-- 추가적으로 필요한 스크립트를 로드할 수 있습니다. -->
<!-- 예를 들어, 여기에는 layout 전체에 적용되는 자바스크립트를 로드할 수 있습니다. -->
</body>
</html>
