<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방 정보</title>
    <link rel="stylesheet" th:href="@{/css/hotel/detail.css}">
    <script th:src="@{/js/hotel/detail.js}" defer></script>
</head>
<body>
<!-- 이 부분은 layout.html에서 정의한 컨텐츠 영역에 삽입됩니다. -->
<section layout:fragment="content">
    <h1 th:text="${property.name}">호텔 상세 정보</h1>
    <section class="hotelDetail">
        <div class="propertyImg">
            <img src="" alt="">
        </div>
        <div class="hotelContent">
            <div>
                <span>등급:</span><span th:text="${property.grade}"></span>
            </div>
            <div>
                <span>소개:</span><span th:text="${property.intro}"></span>
            </div>
            <div>
                <span>주소:</span><span th:text="${property.propertyAddress.region + ' ' +
                property.propertyAddress.street1 + ' ' +property.propertyAddress.street2 +
                ' ' + property.propertyAddress.zipCode}"></span>
            </div>
        </div>
    </section>

    <section id="rooms">
        <h2>방의 리스트</h2>
        <div class="roomItem" th:each="room : ${property.rooms}">
            <label>
                <input type="checkbox" th:value="${room.id}">
                <div class="roomImg">
                    <img src="" alt="">
                </div>
                <div>
                    <div th:text="${room.name}"></div>
                    <div th:text="${room.capacity}"></div>
                    <div th:text="${room.price}"></div>
                </div>
            </label>
        </div>
    </section>
<!--    <div>-->
<!--        <span th:text="${property.id}"></span>-->
<!--    </div>-->

    <section class="dialog" id="paymentDialog" >
        <div class="selectRooms" data-index="1">
            <h2 class="title">예약 목록 확인</h2>
            <div class="reserveDays">
                <h3>예약 날짜</h3>
                <div class="reserveGrid">
                    <div>
                        <span class="title">체크인</span>
                        <div>2024-4-16 14:00</div>
                    </div>
                    <div>
                        <span class="title">체크아웃</span>
                        <div>2024-4-17 12:00</div>
                    </div>
                </div>
            </div>
            <div class="availableRooms">
                <h3>예약할 방</h3>
<!--                <div class="roomItem">-->
<!--                    <img src="" alt="">-->
<!--                    <div>-->
<!--                        <div>방이름</div>-->
<!--                        <div>capacity</div>-->
<!--                        <div>가격</div>-->
<!--                    </div>-->
<!--                </div>-->
                <ul class="list">
                    <li class="item empty">현재 위치에서 표시할 맛집이 없어요.<br><br>위치를 옮기거나 나만의 맛집을 등록해 보세요.</li>
                    <li class="item">
                        <img alt="" class="image" src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/sPea_ioSgZp2ZJIjf_3EOBg/pea_iosgzp2zjijf_3eobg_2361409510336730.jpg">
                        <div class="spec">
                <span class="name-wrapper">
                    <span class="name">솔솥 대구 동성로점</span>
                    <span class="category">한식</span>
                </span>
                            <span class="address">대구 중구 동성로3가</span>
                            <span class="misc">
                    <span class="time">09:00~18:00</span>
                    <span class="review">
                        <span class="text">리뷰</span>
                        <span class="count">1,234</span>
                    </span>
                </span>
                            <span class="button-container">
                    <button class="button" name="modify" type="button">수정</button>
                    <button class="button" name="delete" type="button">삭제</button>
                    <button class="button" name="report" type="button">신고</button>
                </span>
                        </div>
                    </li>
                </ul>
            </div>





            <div class="totalPrice">
                <span class="title">
                    총금액 :
                </span>

                <span> 300,000</span>

            </div>

            <button class="_obj-button" rel="nextButton" type="button">고객정보 입력</button>
        </div>



        <div class="customer" data-index="2">
            <h2 class="title">고객 정보</h2>
            <form id="customerRegisForm" >
                <label class="_obj-label label">
                    <span class="title">성 </span>
                    <input class="_obj-input __field input" name="firstName" type="text">
                </label>
                <label class="_obj-label label">
                    <span class="title">이름</span>
                    <input class="_obj-input __field input" name="lastName" type="text">
                </label>
                <label class="_obj-label label">
                    <span class="title">폰 번호</span>
                    <input class="_obj-input __field input" name="phone" type="text">
                </label>
                <button class="_obj-button" rel="returnButton" type="button">돌아 가기</button>
                <button class="_obj-button" rel="nextButton" type="submit">결제하러 가기</button>
            </form>
        </div>

        <div class="payment" data-index="3">
            <h2 class="title">카드 결제</h2>
            <form id="paymentRegisForm" >
                <label class="_obj-label label">
                    <span class="title">결제 방식</span>
                    <select class="_obj-input" name="category">
                        <option disabled hidden selected value="-1">분류</option>
                        <option value="card">카드 결제</option>
                        <option value="kakao">카카오 페이</option>
                        <option value="credit">실시간 계좌 이체</option>
                    </select>
                </label>
                <label class="_obj-label label">
                    <span class="title">카드 번호</span>
                    <input class="_obj-input __field input" maxlength="25" name="cardNumber" type="text">
                </label>
                <button class="_obj-button" rel="returnButton" type="button">돌아 가기</button>
                <button class="_obj-button" type="submit">결제 하기</button>
            </form>
        </div>
        <button class="_obj-button" rel="cancleButton" type="button">취소하기</button>
    </section>

    <button class="_obj-button" rel="paymentReady" type="button">결제하기</button>
</section>
</body>
</html>
