<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방 정보</title>
    <link rel="stylesheet" th:href="@{/css/hotel/detail.css}">
    <script th:src="@{/js/hotel/detail.js}" defer></script>
</head>
<body>
<!-- 이 부분은 layout.html에서 정의한 컨텐츠 영역에 삽입됩니다. -->
<section layout:fragment="content">
    <h1>호텔 상세 정보</h1>
    <div>
        <span th:text="${property.id}"></span>
    </div>
    <div>
        <span>호텔이름:</span><span th:text="${property.name}"></span>
    </div>
    <div>
        <span>등급:</span><span th:text="${property.grade}"></span>
    </div>
    <div>
        <span>소개:</span><span th:text="${property.intro}"></span>
    </div>
    <div>
        <span>주소:</span><span th:text="${property.propertyAddress}"></span>
    </div>
    <h2>방의 리스트</h2>
    <div class="roomIntro" th:each="room : ${property.rooms}">
        <label>
            <input type="checkbox" th:value="${room.id}">
            <div>
                <div th:text="${room.name}"></div>
                <div th:text="${room.capacity}"></div>
                <div th:text="${room.price}"></div>
            </div>
        </label>
    </div>

    <div class="dialog -visible" id="dialog" >
        <div class="customer" data-index="1">
            <h2 class="title">고객 정보</h2>
            <form id="customerRegisForm" class="type-wrapper" rel="typeWrapper" >
                <label class="type">
                    <span class="title">성 </span>
                    <input class="text" name="firstName" type="text">
                </label>
                <label class="type">
                    <span class="title">이름</span>
                    <input class="text" name="lastName" type="text">
                </label>
                <label class="type">
                    <span class="title">폰 번호</span>
                    <input class="text" name="phone" type="text">
                </label>
                <button class="_obj-button" rel="nextButton" type="button">결제하러 가기</button>
            </form>
        </div>

        <div class="payment" data-index="2">
            <h2 class="title">카드 결제</h2>
            <form id="paymentRegisForm" class="type-wrapper" rel="typeWrapper" >
                <label class="type">
                    <span class="title">카드 번호</span>
                    <input class="text" maxlength="25" name="cardNumber" type="text">
                </label>
                <input type="hidden" name="cardType" value="pay">
                <button class="_obj-button" rel="nextButton" type="button">결제 하기</button>
            </form>
        </div>



        <button class="_obj-button" rel="cancelButton" type="button">돌아가기</button>
    </div>

    <button>결제하기</button>

</section>
</body>
</html>
