<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방 정보</title>
    <link rel="stylesheet" th:href="@{/css/hotel/detail.css}">
    <script th:src="@{/js/hotel/detail.js}" defer></script>
    <script th:src="@{/js/hotel/detail.payment.js}" defer></script>
</head>
<body>
<!-- 이 부분은 layout.html에서 정의한 컨텐츠 영역에 삽입됩니다. -->
<section layout:fragment="content">
    <h1 th:text="${hotel.name}">호텔 상세 정보</h1>
    <section class="hotelDetail">
        <div class="hotelImg">
            <img src="" alt="">
        </div>
        <div class="hotelContent">
            <div>
                <span>등급:</span><span th:text="${hotel.grade}"></span>
            </div>
            <div>
                <span>소개:</span><span th:text="${hotel.intro}"></span>
            </div>
            <div>
                <span>주소:</span><span th:text="${hotel.region + ' ' +
                hotel.street1 + ' ' +hotel.street2 +
                ' ' + hotel.zipCode}"></span>
            </div>
        </div>
    </section>

    <section class="search room-search">
        <form id="searchForm">
            <input hidden name="hotelId" type="hidden" th:value="${hotel.id}">
            <label class="arriv">
                <input class="_obj-input" type="date" id="arrivalDate" name="arrivalDate" value="2024-04-13">
            </label>
            <label class="depart">
                <input class="_obj-input" type="date" id="departureDate" name="departureDate" value="2024-04-14">
            </label>
            <label>
                <input class="_obj-input" name="customers" type="number" value="1">
            </label>
            <label>
                <input class="_obj-input" name="roomCount" type="number" value="1">
            </label>
            <button class="_obj-button" type="reset">리셋</button>
            <button class="_obj-button" type="submit">검색</button>
        </form>
    </section>

    <section id="rooms">
        <h2>방의 리스트</h2>
        <div class="roomContainer"></div>
    </section>

    <section class="modal-container" id="paymentModal">
        <div class="checked-rooms" data-index="1">
            <h2 class="title">예약 목록 확인</h2>
            <div class="reserve-days">
                <h3>예약 날짜</h3>
                <div class="reserve-grid">
                    <div>
                        <span class="title">체크인</span>
                        <div>2024-4-16 14:00</div>
                    </div>
                    <div>
                        <span class="title">체크아웃</span>
                        <div>2024-4-17 12:00</div>
                    </div>
                </div>
            </div>
            <div id="availableRooms" class="available-rooms">
                <h3>예약할 방</h3>
                <ul class="list">
                    <li class="item empty">예약할 방을 고르지 않았습니다.<br><br>돌아가서 선택하고 다시 와주세요.</li>
                    <li class="item">
                        <img alt="" class="image"
                             src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/sPea_ioSgZp2ZJIjf_3EOBg/pea_iosgzp2zjijf_3eobg_2361409510336730.jpg">
                        <div class="spec">
                            <span class="name-wrapper"><span class="name">스위트룸_1</span>
                                <span class="days">2박</span>
                            </span>
                            <span class="room-price">200,000 (부가세포함)</span>
                            <span class="misc">
                                <span class="container">4인실</span>
                                <span class="review">
                                    <span class="text"></span>
                                    <span class="role">VIP전용</span>
                                </span>
                            </span>
                            <span class="button-container">
                                <button class="button" name="modify" type="button">취소</button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="totalPrice">
                <span class="title">
                    총금액 :
                </span>

                <span> 300,000</span>

            </div>

            <button class="_obj-button pmBtn" rel="nextButton" type="button">고객정보 입력</button>
        </div>


        <div class="customer" data-index="2">
            <h2 class="title">고객 정보</h2>
            <form id="customerRegisForm">
                <label class="_obj-label label">
                    <span class="title">성 </span>
                    <input class="_obj-input __field input" name="firstName" type="text">
                </label>
                <label class="_obj-label label">
                    <span class="title">이름</span>
                    <input class="_obj-input __field input" name="lastName" type="text">
                </label>
                <label class="_obj-label label">
                    <span class="title">폰 번호</span>
                    <input class="_obj-input __field input" name="phone" type="text">
                </label>
                <button class="_obj-button pmBtn" rel="returnButton" type="button">돌아 가기</button>
                <button class="_obj-button pmBtn" rel="nextButton" type="submit">결제하러 가기</button>
            </form>
        </div>

        <div class="payment" data-index="3">
            <h2 class="title">카드 결제</h2>
            <form id="paymentRegisForm">
                <label class="_obj-label label">
                    <span class="title">결제 방식</span>
                    <select class="_obj-input" name="category">
                        <option disabled hidden selected value="-1">분류</option>
                        <option value="card">카드 결제</option>
                        <option value="kakao">카카오 페이</option>
                        <option value="credit">실시간 계좌 이체</option>
                    </select>
                </label>
                <label class="_obj-label label">
                    <span class="title">카드사</span>
                    <select class="_obj-input" name="cardType">
                        <option disabled hidden selected value="-1">분류</option>
                        <option selected value="sinhan">신한</option>
                        <option value="samsung">삼성</option>
                        <option value="nh">농협</option>
                    </select>
                </label>

                <label class="_obj-label label">
                    <span class="title">카드 번호</span>
                    <input class="_obj-input __field input" maxlength="16" name="cardNum" type="text">
                </label>
                <button class="_obj-button pmBtn" rel="returnButton" type="button">돌아 가기</button>
                <button class="_obj-button" type="submit">결제 하기</button>
            </form>
        </div>
        <button class="_obj-button pmBtn" rel="cancelButton" type="button">취소하기</button>
    </section>

    <button class="_obj-button" rel="paymentReady" type="button">결제하기</button>
</section>
</body>
</html>
