<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script th:src="@{/js/main.js}" defer></script>
    <!-- 추가적으로 필요한 CSS나 스타일시트를 로드할 수 있습니다. -->
</head>
<body>
<!-- 이 부분은 layout.html에서 정의한 컨텐츠 영역에 삽입됩니다. -->
<section layout:fragment="content">
    <h1>Main Content</h1>
    <section>
        <form id="searchForm">
            <label>
                <span>지역 : </span>
                <input name="propertyRegion" type="text" value="대구">
            </label>
            <label class="arriv">
                <input type="date" id="arrivalDate" name="arrivalDate">
            </label>
            <label class="depart">
                <input type="date" id="departureDate" name="departureDate">
            </label>
            <label>
                <input name="customers" type="number" value="1">
            </label>
            <label>
                <input name="roomCount" type="number" value="1">
            </label>

            <button type="reset">리셋</button>
            <button type="submit">검색</button>
        </form>
    </section>
    <section id="hotelSection">
        <div class="hotelItem">
            <div class="hotelImg">
                <a href="">
                    <img src="" alt="없어요">
                </a>
            </div>
            <div class="hotelContent">
                <div>호텔이름</div>
                <div>호텔주소</div>
                <div>방 갯수</div>
            </div>
        </div>
    </section>

    <!-- 추가적인 메인 페이지의 컨텐츠를 여기에 추가할 수 있습니다. -->
</section>
</body>
</html>
