<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script th:src="@{/js/search.js}" defer></script>
    <!-- 추가적으로 필요한 CSS나 스타일시트를 로드할 수 있습니다. -->
</head>
<body>
<!-- 이 부분은 layout.html에서 정의한 컨텐츠 영역에 삽입됩니다. -->
<section layout:fragment="content">
    <form id="searchForm">
        <label>
            <input name="propertyId" type="text" value="1001">
        </label>
        <label class="arriv">
            <input type="date" id="arrivalDate" name="arrivalDate">
            <select name="arrivalTime" class="time">
                <option value="12:00:00">오후 12시</option>
                <option value="14:00:00">오후 2시</option>
            </select>
        </label>
        <label class="depart">
            <input type="date" id="departureDate" name="departureDate">
            <select name="departureTime" class="time">
                <option value="12:00:00">오후 12시</option>
                <option value="14:00:00">오후 2시</option>
            </select>
        </label>
        <button type="reset">리셋</button>
        <button type="submit">검색</button>
    </form>
</section>
</body>
</html>
