.dialog {
  top: calc(50% + 0.25rem);
  left: 50%;
  width: 28rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-sizing: border-box;
  box-shadow: 0 0 2rem 0.0625rem #21212130;
  opacity: 0;
  padding: 2.5rem;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
  z-index: 9;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;

  &.-visible {
    top: 50%;
    opacity: 1;
    pointer-events: all;
  }

  > div{
    > .title {
      font-size: 1.75rem;
      font-weight: 100;
      margin-bottom: 0.75rem;
    }

    > form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  > .selectRooms {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > .title {
      font-size: 1.75rem;
      font-weight: 100;
      margin-bottom: 0.75rem;
    }

    > .reserveDays {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      >.reserveGrid{

        display: grid;
        grid-template-columns: 1fr 1fr;

        > div{
          border: 1px black solid;
          height: 5rem;
        }
      }
    }



    > button {
      width: 100%;
    }
  }
}